/*  your css code here. If applicable */
body {
	background-color: #fafafa;
}
.cards-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
      padding: 20px;
    }
    .card {
      border: 10px solid #ccc;
      background-color: #fafafa;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card h1 {
      font-size: 36px;
      margin-bottom: 10px;
    }
    .card p {
      font-size: 18px;
      margin-top: 10px;
    }